codes/wifi_udp_nodeRed/IoT-02_wifi_04_udp_01.nodered.txt
[
    {
        "id": "98f8e953.5050a8",
        "type": "udp in",
        "z": "4809b205.f34c3c",
        "name": "",
        "iface": "",
        "port": "3333",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "36e9449a.b23c2c"
            ]
        ]
    },
    {
        "id": "30f9e436.bb025c",
        "type": "udp out",
        "z": "4809b205.f34c3c",
        "name": "",
        "addr": "192.168.1.32",
        "iface": "",
        "port": "3334",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 430,
        "y": 160,
        "wires": []
    },
    {
        "id": "8c60561d.4dca38",
        "type": "inject",
        "z": "4809b205.f34c3c",
        "name": "",
        "topic": "",
        "payload": "L",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 300,
        "wires": [
            [
                "30f9e436.bb025c"
            ]
        ]
    },
    {
        "id": "36e9449a.b23c2c",
        "type": "debug",
        "z": "4809b205.f34c3c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 390,
        "y": 380,
        "wires": []
    },
    {
        "id": "2c7f9726.a82098",
        "type": "inject",
        "z": "4809b205.f34c3c",
        "name": "",
        "topic": "",
        "payload": "W",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 20,
        "wires": [
            [
                "30f9e436.bb025c"
            ]
        ]
    },
    {
        "id": "acf73f7.48931c",
        "type": "inject",
        "z": "4809b205.f34c3c",
        "name": "",
        "topic": "",
        "payload": "w",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "30f9e436.bb025c"
            ]
        ]
    },
    {
        "id": "3b420b02.14cf14",
        "type": "inject",
        "z": "4809b205.f34c3c",
        "name": "",
        "topic": "",
        "payload": "G",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "30f9e436.bb025c"
            ]
        ]
    },
    {
        "id": "8be4cd1a.6eeb3",
        "type": "inject",
        "z": "4809b205.f34c3c",
        "name": "",
        "topic": "",
        "payload": "g",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "30f9e436.bb025c"
            ]
        ]
    },
    {
        "id": "a3e5049e.822a28",
        "type": "inject",
        "z": "4809b205.f34c3c",
        "name": "",
        "topic": "",
        "payload": "i",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "30f9e436.bb025c"
            ]
        ]
    },
    {
        "id": "73a43482.ad158c",
        "type": "inject",
        "z": "4809b205.f34c3c",
        "name": "",
        "topic": "",
        "payload": "i34",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "30f9e436.bb025c"
            ]
        ]
    },
    {
        "id": "98157b31.8dc7d8",
        "type": "inject",
        "z": "4809b205.f34c3c",
        "name": "",
        "topic": "",
        "payload": "i35",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "30f9e436.bb025c"
            ]
        ]
    }
]
